ul.sb-frame,
ul.simple-border-frame {
  list-style-type: none;
  display: grid;
  grid-gap: 0;
  grid-template-rows: minmax(1px, -webkit-max-content) minmax(1px, -webkit-max-content) minmax(1px, -webkit-max-content);
  grid-template-rows: minmax(1px, max-content) minmax(1px, max-content) minmax(1px, max-content);
  grid-template-columns: minmax(1px, -webkit-max-content) minmax(1px, -webkit-max-content) minmax(1px, -webkit-max-content);
  grid-template-columns: minmax(1px, max-content) minmax(1px, max-content) minmax(1px, max-content);
  grid-template-areas: "tl t tr" "l c r" "bl b br";
  margin: 0;
  padding: 0;
}
ul.sb-frame li,
ul.simple-border-frame li {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.sb-frame li.sb-content,
ul.sb-frame li.simple-border-content,
ul.simple-border-frame li.sb-content,
ul.simple-border-frame li.simple-border-content {
  grid-area: c;
}
ul.sb-frame li.sb-top,
ul.sb-frame li.simple-border-top,
ul.sb-frame li.sb-t,
ul.sb-frame li.simple-border-t,
ul.simple-border-frame li.sb-top,
ul.simple-border-frame li.simple-border-top,
ul.simple-border-frame li.sb-t,
ul.simple-border-frame li.simple-border-t {
  grid-area: t;
}
ul.sb-frame li.sb-bottom,
ul.sb-frame li.simple-border-bottom,
ul.sb-frame li.sb-b,
ul.sb-frame li.simple-border-b,
ul.simple-border-frame li.sb-bottom,
ul.simple-border-frame li.simple-border-bottom,
ul.simple-border-frame li.sb-b,
ul.simple-border-frame li.simple-border-b {
  grid-area: b;
}
ul.sb-frame li.sb-left,
ul.sb-frame li.simple-border-left,
ul.sb-frame li.sb-l,
ul.sb-frame li.simple-border-l,
ul.simple-border-frame li.sb-left,
ul.simple-border-frame li.simple-border-left,
ul.simple-border-frame li.sb-l,
ul.simple-border-frame li.simple-border-l {
  grid-area: l;
}
ul.sb-frame li.sb-right,
ul.sb-frame li.simple-border-right,
ul.sb-frame li.sb-r,
ul.sb-frame li.simple-border-r,
ul.simple-border-frame li.sb-right,
ul.simple-border-frame li.simple-border-right,
ul.simple-border-frame li.sb-r,
ul.simple-border-frame li.simple-border-r {
  grid-area: r;
}
ul.sb-frame li.sb-top-left,
ul.sb-frame li.simple-border-top-left,
ul.sb-frame li.sb-tl,
ul.sb-frame li.simple-border-tl,
ul.simple-border-frame li.sb-top-left,
ul.simple-border-frame li.simple-border-top-left,
ul.simple-border-frame li.sb-tl,
ul.simple-border-frame li.simple-border-tl {
  grid-area: tl;
}
ul.sb-frame li.sb-top-left .sb-ignore-flow-content,
ul.sb-frame li.sb-top-left .simple-border-ignore-flow-content,
ul.sb-frame li.sb-top-left .sb-ifc,
ul.sb-frame li.sb-top-left .simple-border-ifc,
ul.sb-frame li.simple-border-top-left .sb-ignore-flow-content,
ul.sb-frame li.simple-border-top-left .simple-border-ignore-flow-content,
ul.sb-frame li.simple-border-top-left .sb-ifc,
ul.sb-frame li.simple-border-top-left .simple-border-ifc,
ul.sb-frame li.sb-tl .sb-ignore-flow-content,
ul.sb-frame li.sb-tl .simple-border-ignore-flow-content,
ul.sb-frame li.sb-tl .sb-ifc,
ul.sb-frame li.sb-tl .simple-border-ifc,
ul.sb-frame li.simple-border-tl .sb-ignore-flow-content,
ul.sb-frame li.simple-border-tl .simple-border-ignore-flow-content,
ul.sb-frame li.simple-border-tl .sb-ifc,
ul.sb-frame li.simple-border-tl .simple-border-ifc,
ul.simple-border-frame li.sb-top-left .sb-ignore-flow-content,
ul.simple-border-frame li.sb-top-left .simple-border-ignore-flow-content,
ul.simple-border-frame li.sb-top-left .sb-ifc,
ul.simple-border-frame li.sb-top-left .simple-border-ifc,
ul.simple-border-frame li.simple-border-top-left .sb-ignore-flow-content,
ul.simple-border-frame li.simple-border-top-left .simple-border-ignore-flow-content,
ul.simple-border-frame li.simple-border-top-left .sb-ifc,
ul.simple-border-frame li.simple-border-top-left .simple-border-ifc,
ul.simple-border-frame li.sb-tl .sb-ignore-flow-content,
ul.simple-border-frame li.sb-tl .simple-border-ignore-flow-content,
ul.simple-border-frame li.sb-tl .sb-ifc,
ul.simple-border-frame li.sb-tl .simple-border-ifc,
ul.simple-border-frame li.simple-border-tl .sb-ignore-flow-content,
ul.simple-border-frame li.simple-border-tl .simple-border-ignore-flow-content,
ul.simple-border-frame li.simple-border-tl .sb-ifc,
ul.simple-border-frame li.simple-border-tl .simple-border-ifc {
  margin-top: 50%;
  margin-left: 50%;
}
ul.sb-frame li.sb-top-right,
ul.sb-frame li.simple-border-top-right,
ul.sb-frame li.sb-tr,
ul.sb-frame li.simple-border-tr,
ul.simple-border-frame li.sb-top-right,
ul.simple-border-frame li.simple-border-top-right,
ul.simple-border-frame li.sb-tr,
ul.simple-border-frame li.simple-border-tr {
  grid-area: tr;
}
ul.sb-frame li.sb-top-right .sb-ignore-flow-content,
ul.sb-frame li.sb-top-right .simple-border-ignore-flow-content,
ul.sb-frame li.sb-top-right .sb-ifc,
ul.sb-frame li.sb-top-right .simple-border-ifc,
ul.sb-frame li.simple-border-top-right .sb-ignore-flow-content,
ul.sb-frame li.simple-border-top-right .simple-border-ignore-flow-content,
ul.sb-frame li.simple-border-top-right .sb-ifc,
ul.sb-frame li.simple-border-top-right .simple-border-ifc,
ul.sb-frame li.sb-tr .sb-ignore-flow-content,
ul.sb-frame li.sb-tr .simple-border-ignore-flow-content,
ul.sb-frame li.sb-tr .sb-ifc,
ul.sb-frame li.sb-tr .simple-border-ifc,
ul.sb-frame li.simple-border-tr .sb-ignore-flow-content,
ul.sb-frame li.simple-border-tr .simple-border-ignore-flow-content,
ul.sb-frame li.simple-border-tr .sb-ifc,
ul.sb-frame li.simple-border-tr .simple-border-ifc,
ul.simple-border-frame li.sb-top-right .sb-ignore-flow-content,
ul.simple-border-frame li.sb-top-right .simple-border-ignore-flow-content,
ul.simple-border-frame li.sb-top-right .sb-ifc,
ul.simple-border-frame li.sb-top-right .simple-border-ifc,
ul.simple-border-frame li.simple-border-top-right .sb-ignore-flow-content,
ul.simple-border-frame li.simple-border-top-right .simple-border-ignore-flow-content,
ul.simple-border-frame li.simple-border-top-right .sb-ifc,
ul.simple-border-frame li.simple-border-top-right .simple-border-ifc,
ul.simple-border-frame li.sb-tr .sb-ignore-flow-content,
ul.simple-border-frame li.sb-tr .simple-border-ignore-flow-content,
ul.simple-border-frame li.sb-tr .sb-ifc,
ul.simple-border-frame li.sb-tr .simple-border-ifc,
ul.simple-border-frame li.simple-border-tr .sb-ignore-flow-content,
ul.simple-border-frame li.simple-border-tr .simple-border-ignore-flow-content,
ul.simple-border-frame li.simple-border-tr .sb-ifc,
ul.simple-border-frame li.simple-border-tr .simple-border-ifc {
  margin-top: 50%;
  margin-left: -50%;
}
ul.sb-frame li.sb-bottom-left,
ul.sb-frame li.simple-border-bottom-left,
ul.sb-frame li.sb-bl,
ul.sb-frame li.simple-border-bl,
ul.simple-border-frame li.sb-bottom-left,
ul.simple-border-frame li.simple-border-bottom-left,
ul.simple-border-frame li.sb-bl,
ul.simple-border-frame li.simple-border-bl {
  grid-area: bl;
}
ul.sb-frame li.sb-bottom-left .sb-ignore-flow-content,
ul.sb-frame li.sb-bottom-left .simple-border-ignore-flow-content,
ul.sb-frame li.sb-bottom-left .sb-ifc,
ul.sb-frame li.sb-bottom-left .simple-border-ifc,
ul.sb-frame li.simple-border-bottom-left .sb-ignore-flow-content,
ul.sb-frame li.simple-border-bottom-left .simple-border-ignore-flow-content,
ul.sb-frame li.simple-border-bottom-left .sb-ifc,
ul.sb-frame li.simple-border-bottom-left .simple-border-ifc,
ul.sb-frame li.sb-bl .sb-ignore-flow-content,
ul.sb-frame li.sb-bl .simple-border-ignore-flow-content,
ul.sb-frame li.sb-bl .sb-ifc,
ul.sb-frame li.sb-bl .simple-border-ifc,
ul.sb-frame li.simple-border-bl .sb-ignore-flow-content,
ul.sb-frame li.simple-border-bl .simple-border-ignore-flow-content,
ul.sb-frame li.simple-border-bl .sb-ifc,
ul.sb-frame li.simple-border-bl .simple-border-ifc,
ul.simple-border-frame li.sb-bottom-left .sb-ignore-flow-content,
ul.simple-border-frame li.sb-bottom-left .simple-border-ignore-flow-content,
ul.simple-border-frame li.sb-bottom-left .sb-ifc,
ul.simple-border-frame li.sb-bottom-left .simple-border-ifc,
ul.simple-border-frame li.simple-border-bottom-left .sb-ignore-flow-content,
ul.simple-border-frame li.simple-border-bottom-left .simple-border-ignore-flow-content,
ul.simple-border-frame li.simple-border-bottom-left .sb-ifc,
ul.simple-border-frame li.simple-border-bottom-left .simple-border-ifc,
ul.simple-border-frame li.sb-bl .sb-ignore-flow-content,
ul.simple-border-frame li.sb-bl .simple-border-ignore-flow-content,
ul.simple-border-frame li.sb-bl .sb-ifc,
ul.simple-border-frame li.sb-bl .simple-border-ifc,
ul.simple-border-frame li.simple-border-bl .sb-ignore-flow-content,
ul.simple-border-frame li.simple-border-bl .simple-border-ignore-flow-content,
ul.simple-border-frame li.simple-border-bl .sb-ifc,
ul.simple-border-frame li.simple-border-bl .simple-border-ifc {
  margin-top: -50%;
  margin-left: 50%;
}
ul.sb-frame li.sb-bottom-right,
ul.sb-frame li.simple-border-bottom-right,
ul.sb-frame li.sb-br,
ul.sb-frame li.simple-border-br,
ul.simple-border-frame li.sb-bottom-right,
ul.simple-border-frame li.simple-border-bottom-right,
ul.simple-border-frame li.sb-br,
ul.simple-border-frame li.simple-border-br {
  grid-area: br;
}
ul.sb-frame li.sb-bottom-right .sb-ignore-flow-content,
ul.sb-frame li.sb-bottom-right .simple-border-ignore-flow-content,
ul.sb-frame li.sb-bottom-right .sb-ifc,
ul.sb-frame li.sb-bottom-right .simple-border-ifc,
ul.sb-frame li.simple-border-bottom-right .sb-ignore-flow-content,
ul.sb-frame li.simple-border-bottom-right .simple-border-ignore-flow-content,
ul.sb-frame li.simple-border-bottom-right .sb-ifc,
ul.sb-frame li.simple-border-bottom-right .simple-border-ifc,
ul.sb-frame li.sb-br .sb-ignore-flow-content,
ul.sb-frame li.sb-br .simple-border-ignore-flow-content,
ul.sb-frame li.sb-br .sb-ifc,
ul.sb-frame li.sb-br .simple-border-ifc,
ul.sb-frame li.simple-border-br .sb-ignore-flow-content,
ul.sb-frame li.simple-border-br .simple-border-ignore-flow-content,
ul.sb-frame li.simple-border-br .sb-ifc,
ul.sb-frame li.simple-border-br .simple-border-ifc,
ul.simple-border-frame li.sb-bottom-right .sb-ignore-flow-content,
ul.simple-border-frame li.sb-bottom-right .simple-border-ignore-flow-content,
ul.simple-border-frame li.sb-bottom-right .sb-ifc,
ul.simple-border-frame li.sb-bottom-right .simple-border-ifc,
ul.simple-border-frame li.simple-border-bottom-right .sb-ignore-flow-content,
ul.simple-border-frame li.simple-border-bottom-right .simple-border-ignore-flow-content,
ul.simple-border-frame li.simple-border-bottom-right .sb-ifc,
ul.simple-border-frame li.simple-border-bottom-right .simple-border-ifc,
ul.simple-border-frame li.sb-br .sb-ignore-flow-content,
ul.simple-border-frame li.sb-br .simple-border-ignore-flow-content,
ul.simple-border-frame li.sb-br .sb-ifc,
ul.simple-border-frame li.sb-br .simple-border-ifc,
ul.simple-border-frame li.simple-border-br .sb-ignore-flow-content,
ul.simple-border-frame li.simple-border-br .simple-border-ignore-flow-content,
ul.simple-border-frame li.simple-border-br .sb-ifc,
ul.simple-border-frame li.simple-border-br .simple-border-ifc {
  margin-top: -50%;
  margin-left: -50%;
}
ul.sb-frame li.sb-center,
ul.sb-frame li.simple-border-center,
ul.sb-frame li.sb-c,
ul.sb-frame li.simple-border-c,
ul.simple-border-frame li.sb-center,
ul.simple-border-frame li.simple-border-center,
ul.simple-border-frame li.sb-c,
ul.simple-border-frame li.simple-border-c {
  grid-area: c;
}
ul.sb-frame li.sb-align-x-left,
ul.sb-frame li.simple-border-align-x-left,
ul.sb-frame li.sb-axl,
ul.sb-frame li.simple-border-axl,
ul.simple-border-frame li.sb-align-x-left,
ul.simple-border-frame li.simple-border-align-x-left,
ul.simple-border-frame li.sb-axl,
ul.simple-border-frame li.simple-border-axl {
  justify-content: flex-start;
}
ul.sb-frame li.sb-align-x-center,
ul.sb-frame li.simple-border-align-x-center,
ul.sb-frame li.sb-axc,
ul.sb-frame li.simple-border-axc,
ul.simple-border-frame li.sb-align-x-center,
ul.simple-border-frame li.simple-border-align-x-center,
ul.simple-border-frame li.sb-axc,
ul.simple-border-frame li.simple-border-axc {
  justify-content: center;
}
ul.sb-frame li.sb-align-x-right,
ul.sb-frame li.simple-border-align-x-right,
ul.sb-frame li.sb-axr,
ul.sb-frame li.simple-border-axr,
ul.simple-border-frame li.sb-align-x-right,
ul.simple-border-frame li.simple-border-align-x-right,
ul.simple-border-frame li.sb-axr,
ul.simple-border-frame li.simple-border-axr {
  justify-content: flex-end;
}
ul.sb-frame li.sb-align-y-top,
ul.sb-frame li.simple-border-align-y-top,
ul.sb-frame li.sb-ayt,
ul.sb-frame li.simple-border-ayt,
ul.simple-border-frame li.sb-align-y-top,
ul.simple-border-frame li.simple-border-align-y-top,
ul.simple-border-frame li.sb-ayt,
ul.simple-border-frame li.simple-border-ayt {
  align-items: flex-start;
}
ul.sb-frame li.sb-align-y-center,
ul.sb-frame li.simple-border-align-y-center,
ul.sb-frame li.sb-ayc,
ul.sb-frame li.simple-border-ayc,
ul.simple-border-frame li.sb-align-y-center,
ul.simple-border-frame li.simple-border-align-y-center,
ul.simple-border-frame li.sb-ayc,
ul.simple-border-frame li.simple-border-ayc {
  align-items: center;
}
ul.sb-frame li.sb-align-y-bottom,
ul.sb-frame li.simple-border-align-y-bottom,
ul.sb-frame li.sb-ayb,
ul.sb-frame li.simple-border-ayb,
ul.simple-border-frame li.sb-align-y-bottom,
ul.simple-border-frame li.simple-border-align-y-bottom,
ul.simple-border-frame li.sb-ayb,
ul.simple-border-frame li.simple-border-ayb {
  align-items: flex-end;
}
.sb-ignore-flow-frame,
.simple-border-ignore-flow-frame,
.sb-iff,
.simple-border-iff {
  position: relative;
}
.sb-ignore-flow-content,
.simple-border-ignore-flow-content,
.sb-ifc,
.simple-border-ifc {
  position: absolute;
  overflow: visible;
}